$main-accent-color: rgba(158, 0, 0, 0.87);
$dark-accent-color: darken($main-accent-color, 20%);
$main-color: rgb(238, 238, 238);

$txt-dark: rgb(29, 1, 1);

$txt-light: white;
$txt-l-inactive: rgb(197, 197, 197);
$txt-l-disabled: rgb(151, 151, 151);